// .input-form {
	.single.q-field--outlined .q-field__control {
		border-radius: 7px!important;
		height: 30px!important;
	}

	.single.q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
		height: 30px!important;
	}

	.multi.q-field--outlined .q-field__control {
		border-radius: 7px!important;
	}

	.multi.element.style {
		height: 22px!important;
	}

	.q-textarea.q-field--dense.q-field--labeled .q-field__control-container {
		padding-top: 7px;
	}

	.q-textarea.q-field--dense .q-field__control, .q-textarea.q-field--dense .q-field__native {
		min-height: 30px;
	}

	.q-textarea.q-field--dense.q-field--labeled .q-field__native {
		min-height: 22px!important;
		padding-top: 2px;
	}
// }

/* PUT THE LABEL INPUT OVER DE BORDER */
.my-qinput.q-field--float .q-field__label {
	transform: translateY(-120%) translateX(-5px) scale(0.75);
	background: #fff;
	right: inherit;
	padding: 0 5px;
	z-index: 10;
}

.my-qinput.q-field--dense.q-field--float .q-field__label {
	transform: translateY(-85%) translateX(-5px) scale(0.75);
	top: 10px!important;
  border-radius: 15px;
}

.my-qinput.q-field--labeled .q-field__native,
.my-qinput.q-field--labeled .q-field__prefix,
.my-qinput.q-field--labeled .q-field__suffix {
	padding-top: 3px;
}

.my-qinput.q-field--dense .q-field__label {
	top: 5px!important;
}

.q-textarea.q-field--dense.q-field--labeled .q-field__native {
	min-height: 22px!important;
	padding-top: 2px;
}

.lock-icon {
	font-size: 18px!important;
}

.my-qinput.q-field--dense .q-field__native[type=color] + .q-field__label, .q-field--dense .q-field__native[type=date] + .q-field__label, .q-field--dense .q-field__native[type=datetime-local] + .q-field__label, .q-field--dense .q-field__native[type=month] + .q-field__label, .q-field--dense .q-field__native[type=time] + .q-field__label, .q-field--dense .q-field__native[type=week] + .q-field__label, .q-field--dense .q-field__input[type=color] + .q-field__label, .q-field--dense .q-field__input[type=date] + .q-field__label, .q-field--dense .q-field__input[type=datetime-local] + .q-field__label, .q-field--dense .q-field__input[type=month] + .q-field__label, .q-field--dense .q-field__input[type=time] + .q-field__label, .q-field--dense .q-field__input[type=week] + .q-field__label {
	transform: translateY(-60%) scale(0.75);
	background: #fff;
	z-index: 10;
	top: 5px !important;
}

.custom-input-container {
	position: relative;

	&.small {
		min-width: 50px;
		width: 200px;
	}

	&.medium {
		min-width: 300px;
		width: 300px;
	}

	&.big {
		min-width: 400px;
	}

	.q-field__messages {
		position: absolute;
		top: 100%; /* Mostrar el mensaje de error debajo del input */
		left: 0; /* Alinear el mensaje a la izquierda */
		margin-top: 5px;
		width: 100%; /* Asegurarse de que ocupe todo el ancho del input */
	}
}

.item-icon {
  .q-field__inner{
    display: flex;
    flex-direction: column;
    align-items: center;

    .q-field__control {
      display: flex;
      align-items: center;

      .q-field__native{
        margin-top: 6px;
      }
    }
  }
}

.icon-container {
	display: flex;
	align-items: center; /* Centrar verticalmente el contenido */
	height: 100%; /* Asegurarse de que el contenedor ocupe toda la altura del q-input */
  font-size: 19px;
  margin-top: 5px;
}

.my-q-date-heigth .q-date__view {
  min-height: 342px !important;
}

.my-qinput.q-field--disabled .q-placeholder  {
  opacity: .5 !important;
}

.my-qinput.q-field--disabled .q-field__control > div {
  opacity: 1 !important;
  border-radius: 10px !important;
}

.with-prepend.q-field--dense.q-field--float .q-field__label {
  left: -25px
}
